@import url(https://fonts.googleapis.com/css?family=Raleway);

/* Balloon Colors */
.yellow { background: rgb(235, 255, 20); }
.blue { background: rgb(39, 20, 255); }
.purple { background: rgb(189, 96, 255); }
.red { background: rgb(255, 39, 20); }
.cyan { background: rgb(20, 235, 255); }
.pink { background: rgb(255, 138, 187); }
.green { background: rgb(20, 189, 34); }
.orange { background: rgb(255, 171, 53); }

/* Intro Section */
.intro {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(235, 235, 236);
}

h1 {
    font: 1.8rem/1.6em 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: .02em;
    text-align: center;
    color: rgba(51, 51, 51, 1); 
}

@media all and (min-width: 30em) and (max-width: 47em) {
    h1 { font-size: 2.4rem; }
}

@media all and (min-width: 47em) {
    h1 { font-size: 3.2rem; }
}

@media all and (min-width: 70em) {
    h1 { font-size: 2.8rem; }
}

@media all and (min-width: 110em) {
    h1 { font-size: 3.6em; }
}

h1 + h1 {
    color: rgba(51, 51, 51, .8);
    font-size: 1.6rem;
}

@media all and (min-width: 30em) and (max-width: 47em) {
    h1 + h1 { font-size: 2.2rem; }
}

@media all and (min-width: 47em) {
    h1 + h1 { font-size: 3rem; }
}

@media all and (min-width: 70em) {
    h1 + h1 { font-size: 2.8rem; padding-top: 0; }
}

@media all and (min-width: 110em) {
    h1 + h1 { font-size: 3.6em; }
}

.title-mobile { display: none; }

@media all and (max-width: 70em) {
    .title-mobile { display: block; }
}

.title-desktop { display: none; }

@media all and (min-width: 70em) {
    .title-desktop { display: block; }
}

/* Button Styles */
button { 
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase; 
    border: 1px solid rgba(51,51,51,.8);
    color: rgba(51, 51, 51, .8);
    border-radius: 2px;
    margin-top: 1.6rem;
    padding: .6rem 1rem;
    background: none;
    cursor: pointer;
}

@media all and (min-width: 30em) and (max-width: 47em), (min-width: 110em) {
    button {
        font-size: 1.4em;
        line-height: 1.8em; 
        padding: .5rem 1.2rem;
    }
}

button:active,
button:hover {
    color: rgb(248,248,248);
    background: rgba(51,51,51,1); 
}

button:focus { outline: none; }

@media all and (min-width: 47em) {
    button { 
        font-size: 2rem;
        line-height: 2.6rem;
        margin-top: 2rem;
    }
}

@media all and (min-width: 70em) {
    button { 
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
}

@media all and (min-width: 110em) {
    button { 
        font-size: 1.6rem;
        line-height: 2rem;
    }
}

/* Balloon Styles */
.balloon {
    position: absolute;
    bottom: -5%;
    opacity: .9;
    border-radius: 50%;
    width: 18px;
    height: 25px;
    cursor: crosshair; 
    z-index: 2;
}

/* Balloon Neck */
.balloon:after {
    position: relative;
    background: inherit;
    top: 18px;
    left: 8px;
    display: block;
    content: '';
    height: .6rem;
    width: .2rem;
    border-radius: 100%;
}

.balloon:hover {
    font-size: 2.1em;
    opacity: .7;
}

.balloon:active { cursor: crosshair; }

/* Animation for Balloons */
.balloon:nth-child(1) {
    background: rgb(235,255,20);
    bottom: 55%;
    left: 50%;
    animation: once-a 8s 1 ease-in forwards;
}

@keyframes once-a {
    0% { bottom: 55%; transform: translateX(0) rotate(8deg); }
    20% { transform: rotate(4deg); }
    50% { transform: translateX(5px) rotate(-12deg); }
    75% { transform: translateX(-2px) rotate(10deg); }
    100% { bottom: 110%; transform: rotate(-8deg); }
}

.balloon:nth-child(2) {
    background: rgb(39,20,255);
    bottom: 35%;
    left: 20%;
    animation: once-b 8s 1 ease-in forwards;
}

@keyframes once-b {
    0% { bottom: 35%; transform: translateX(0) rotate(0deg); }
    20% { transform: rotate(-8deg); }
    50% { transform: translateX(-10px) rotate(10deg); }
    75% { transform: translateX(5px) rotate(-8deg); }
    100% { bottom: 110%; transform: translateX(0) rotate(8deg); }
}

.balloon:nth-child(3) {
    background: rgb(189,96,255);
    bottom: 15%;
    left: 30%;
    animation: once-c 11s 1 ease-in forwards;
}

@keyframes once-c {
    0% { bottom: 15%; transform: translateX(0) rotate(0deg); }
    20% { transform: translateX(-4px) rotate(4deg); }
    50% { transform: translateX(8px) rotate(-8deg); }
    75% { transform: translateX(-10px) rotate(10deg); }
    100% { bottom: 110%; transform: translateX(0) rotate(0deg); }
}

.balloon:nth-child(4) {
    background: rgb(255,39,20);
    bottom: 5%;
    left: 55%;
    animation: once-d 14s 1 ease-in forwards;
}

@keyframes once-d {
    0% { bottom: 5%; transform: translateX(0) rotate(-4deg); }
    40% { transform: translateX(-8px) rotate(10deg); }
    70% { transform: translateX(10px) rotate(-10deg); }
    100% { bottom: 110%; transform: translateX(0) rotate(0deg); }
}

.balloon:nth-child(5) {
    background: rgb(20,235,255);
    bottom: 0%;
    left: 80%;
    animation: once-e 12s 1 ease-in forwards;
}

@keyframes once-e {
    0% { bottom: 0%; transform: translateX(0) rotate(8deg); }
    20% { transform: rotate(-10deg); }
    50% { transform: translateX(-5px) rotate(5deg); }
    75% { transform: translateX(10px) rotate(-15deg); }
    100% { bottom: 110%; transform: rotate(0deg); }
}

.balloon:nth-child(6) {
    background: rgb(255,138,187);
    bottom: -10%;
    left: 40%;
    animation: once-f 8s 1 ease-in forwards;
}

@keyframes once-f {
    0% { bottom: -10%; transform: translateX(0) rotate(-4deg); }
    20% { transform: translateX(5px) rotate(5deg); }
    50% { transform: translateX(-10px) rotate(-10deg); }
    75% { transform: translateX(2px) rotate(15deg); }
    100% { bottom: 110%; transform: rotate(0deg); }
}

.balloon:nth-child(7) {
    background: rgb(20,189,34);
    bottom: 20%;
    left: 65%;
    animation: once-g 11s 1 ease-in forwards;
}

@keyframes once-g {
    0% { bottom: 20%; transform: translateX(0) rotate(0deg); }
    20% { transform: translateX(-6px) rotate(-6deg); }
    50% { transform: translateX(8px) rotate(10deg); }
    75% { transform: translateX(-2px) rotate(-10deg); }
    100% { bottom: 110%; transform: rotate(0deg); }
}

.balloon:nth-child(8) {
    background: rgb(255,171,53);
    bottom: -10%;
    left: 25%;
    animation: once-h 14s 1 ease-in forwards;
}

@keyframes once-h {
    0% { bottom: -10%; transform: translateX(0) rotate(0deg); }
    20% { transform: rotate(8deg); }
    50% { transform: translateX(-10px) rotate(-10deg); }
    75% { transform: translateX(5px) rotate(12deg); }
    100% { bottom: 110%; transform: rotate(0deg); }
}

.balloon:nth-child(9) {
    background: rgb(39,20,255);
    bottom: -5%;
    left: 55%;
    animation: balloon1 12s 1 ease-in forwards;
}

@keyframes balloon1 {
    0% { bottom: -5%; transform: translateX(0) rotate(8deg); }
    20% { transform: rotate(4deg); }
    50% { transform: translateX(5px) rotate(-12deg); }
    75% { transform: translateX(-2px) rotate(10deg); }
    100% { bottom: 110%; transform: rotate(-8deg); }
}

.balloon:nth-child(10) {
    background: rgb(235,255,20);
    bottom: -10%;
    left: 75%;
    animation: balloon2 12s 1 ease-in forwards;
}

@keyframes balloon2 {
    0% { bottom: -10%; transform: translateX(0) rotate(0deg); }
    20% { transform: rotate(4deg); }
    50% { transform: translateX(8px) rotate(-8deg); }
    75% { transform: translateX(-5px) rotate(6deg); }
    100% { bottom: 110%; transform: rotate(-6deg); }
}

.balloon:nth-child(11) {
    background: rgb(189,96,255);
    bottom: -15%;
    left: 20%;
    animation: balloon3 14s 1 ease-in forwards;
}

@keyframes balloon3 {
    0% { bottom: -15%; transform: translateX(0) rotate(4deg); }
    20% { transform: rotate(-6deg); }
    50% { transform: translateX(-8px) rotate(10deg); }
    75% { transform: translateX(5px) rotate(-12deg); }
    100% { bottom: 110%; transform: rotate(0deg); }
}

.balloon:nth-child(12) {
    background: rgb(255,39,20);
    bottom: 10%;
    left: 60%;
    animation: balloon4 12s 1 ease-in forwards;
}

@keyframes balloon4 {
    0% { bottom: 10%; transform: translateX(0) rotate(8deg); }
    20% { transform: rotate(4deg); }
    50% { transform: translateX(5px) rotate(-12deg); }
    75% { transform: translateX(-2px) rotate(10deg); }
    100% { bottom: 110%; transform: rotate(-8deg); }
}

/* Floating Balloons */
@media all and (min-width: 110em) {
    .balloon {
        width: 25px;
        height: 35px;
    }
}
